* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  font-size: smaller;
  border: 2px solid #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #333;
  background-color: #c4e108;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: #a4c007;
}

img {
  display: none;
}
